# dependencies
/node_modules
/.pnp
.pnp.*

# testing
/coverage

# next.js
/.next/
/out/
/.turbo

# production
/build
/dist
.yaml
.yml
# misc
.DS_Store
*.pem
Thumbs.db


# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*
!.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# IDEs
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#md files
*.md

#agent files
/.agents

debug.spec.ts
skills-lock.json

#PlayRight test/report
/playwright-report
/test-results
/playwright-report/index.html
/test-results/index.html


#agent files
/.agents

skills-lock.json
